:root {
    --window-width: 45vw;
    --window-height: 50vh;
}


.carousel-window {
    position: relative;
    height: var(--window-height);
    width: var(--window-width);
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.carousel {
    float:left;
    top:0;
    left:0px;
    z-index:0;
    max-height:var(--window-height);
    display: grid;
    grid-template-columns: repeat(var(--window-width));
    grid-auto-rows:auto;
    grid-auto-flow:column;
    grid-gap: 0em 0em;
    position:relative;
}

    .carousel .carousel-item {
        grid-column: span 1;
        grid-row: span 1;
        min-width:var(--window-width);
        max-height:var(--window-height);
        overflow:hidden;
    }

        .carousel .carousel-item img {
            display: block;
            width: 100%;
            max-width: 100%;
            height: var(--window-height);
            min-height: var(--window-height);
            object-fit: cover;
        }

.desc {
    display:block;
    position: absolute;
    padding: 24px;
    z-index: 9;
    background: rgba(0,0,0,0.3);
    width: 100%;
    bottom:0px;
}

.desc div {
    color: white;
}

.mwrap {

}

.movement {
    display:block;
    float:left;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 20;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mmpart {
    display: block;
    left: 0;
    float: left;
    background: url(../images/prev.png) left 48% no-repeat;
    filter: alpha(Opacity=1);
    opacity: 1;
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    transition: opacity .6s;
    position: absolute;
}

.mprev {
    background: url(../images/prev.png) left 48% no-repeat;
}
.mnext {
    background: url(../images/next.png) right 48% no-repeat;
}

