.feat-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: minmax(240px, 1fr);
    grid-auto-flow: row;
    margin: auto;
    grid-gap: 1.5em 1.5em;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    overflow: hidden;
    animation-name: intro;
    animation-duration:2s;
}

@keyframes intro {
    0% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
    /*10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }*/
    100% {
        border-top-left-radius: 1024px;
        border-top-right-radius: 1024px;
    }
}

.s2x2 {
    grid-row: span 2;
    grid-column: span 2;
}

.s2x1 {
    grid-row: span 1;
    grid-column: span 2;
}

.s1x1 {
    grid-row: span 1;
    grid-column: span 1;
}



.glink {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 26px;
    background-size: cover;
    background-position: center center;
    float: left;
    cursor: pointer;
}

.feat-grid-item {
    display:block;
}


@media (max-width: 1024px) {
    .feat-grid {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        grid-gap: 1.4em 1.4em;
        margin-bottom: 32px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        grid-auto-flow: unset;
        animation-name:none;
    }

    .s2x2, .s2x1, .s1x1 {
        grid-row: span 1;
        grid-column: span 1;
    }

}

.menu-item-title {
    font-size: 1.4em;
}





