.feature-container {
    max-width: 1024px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    flex-direction:column;
}



.feature-container .cl {
        width: 50%;
        display:flex;
    }


.feature-container .rw {
    display:flex;
    flex-wrap:wrap;
}

@media (max-width: 1024px) {
    .feature-container {
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        flex-direction: column;
    }
.feature-container .column {
            width: 100%;
            display: flex;
        }

    .fitem {
        height:240px;
    }

    .feature-container .cl {
        width: 100%;
    }

}

.fitem {
    position: relative;
    width: 100%;
    height: 510px;
    float: left;
    background-size: cover;
    background-position: center center;
    /* margin-bottom: 20px; */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px rgba(104,104,104,0.35) !important;
    -webkit-box-shadow: 4px 4px 4px rgba(104,104,104,0.35) !important;
    cursor:pointer;
    align-items:end;
}

.fsmall {
    position: relative;
    width: 100%;
    height: 240px;
    float: left;
    background-size: cover;
    background-position: center center;
    /* margin-bottom: 20px; */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px rgba(104,104,104,0.35) !important;
    -webkit-box-shadow: 4px 4px 4px rgba(104,104,104,0.35) !important;
}

.fitem div {
    color:white;
}

.menu-item-title {
    font-size:1.4em;
}

.desc {
    position:absolute;
    bottom:0px;
    padding: 24px;
    z-index: 9;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
