.menu-item-desc {
    font-size: 0.875rem;
    font-weight: 400;
}
.menu-item-title {
    margin-bottom: 0.5rem;
    font-weight: 400;
    line-height: 1.2;
    font-size: 1.75rem;
    color: #93C54B;
    text-decoration: none;
}
.menu-item-date {
    font-size: 0.65rem;
    font-weight: 400;
}