.article-menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    grid-template-rows: var(--menu-article-gallery-height);
    margin: auto;
    grid-gap: 1.5em 1.5em;
    width: 1024px;
    margin: auto;
}

@media (max-width: 1024px) {
    .article-menu-container {
        width:90%;
        max-width: 800px;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        margin: auto;
        grid-gap: 1.5em 1.5em;
    }
}

.article-menu-item {
    display: block;
    position: relative;
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.55);
}

    .article-menu-item img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: var(--menu-article-gallery-height);
        min-height: var(--menu-article-gallery-height);
        object-fit: cover;
        /*height: var(--menu-article-gallery-height);
        */
    }

.desc {
    display: block;
    position: absolute;
    bottom: 0px;
    padding: 6px 20px;
    float: left;
    background: rgba(0,0,0,0.6);
    z-index: 0;
    min-height: 65px;
    width: 100%;
    color: var(--nbar-text-colour);
}
.menu-item-desc {
    font-size: 0.8rem;
    font-weight: 400;
    white-space: nowrap;
    width: 90%;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.menu-item-title {
    margin-bottom: 0.2rem;
    font-weight: 400;
    line-height: 1.2;
    font-size: 1.45rem;
    color: #93C54B;
    text-decoration: none;
}

.menu-item-date {
    font-size: 0.62rem;
    line-height: 0.95;
    font-weight: 400;
    
}
