@using worksync
@model List<Photo>

<div class="portfolio">
    @{ foreach (Photo PItem in Model)
        {
            @RenderChildItems(PItem)
        }
    }
</div>

@helper RenderChildItems(Photo item)
{
    <div Class="portfolio_item">
        <a href="@item.PhotoURL" data-lightbox="mygallery">
            <img src="@item.PhotoURL"  Class="img-responsive">
        </a>
    </div>
}




