@using worksync
@model List<Photo>

<div class="portfolio">
    @{ foreach (Photo PItem in Model)
        {
            @RenderChildItems(PItem)
        }
    }
</div>

@helper RenderChildItems(Photo mitem)
{
<div Class="portfolio_item @mitem.Orientation">
    <a href="@mitem.PhotoURL" data-lightbox="mygallery">
    <img src="@mitem.PhotoURL"  Class="img-responsive">
</a>

</div>
}




