@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "WebBase.cshtml";
}

@* the fun starts here *@
	<div id="fh5co-about-section" style="margin-bottom:100px;">
		<div class="container about-inner">
		    @{Html.RenderAction("RenderTitle","SiteLayout");}
		    @CurrentPage.GetGridHtml("contentGrid","bootstrap3")
	    </div>
	</div>