@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "WebBase.cshtml";
}

@* the fun starts here *@
	<div class="bpContainer">
		
		    @{Html.RenderAction("RenderTitle","SiteLayout");}
		    @CurrentPage.GetGridHtml("contentGrid","bootstrap3")
    </div>
