@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

<table id="poll_table" class="table t_poll" style="margin-top:0px;">
    <colgroup>
        <col span="3">
        <col span="9" style="width:50px">
    </colgroup>
    @RenderBody()
</table>

