<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT content ANY>
<!ATTLIST content id ID #REQUIRED>
<!ELEMENT topNavigationControls ANY>
<!ATTLIST topNavigationControls id ID #REQUIRED>
<!ELEMENT gallery ANY>
<!ATTLIST gallery id ID #REQUIRED>
<!ELEMENT menuPage ANY>
<!ATTLIST menuPage id ID #REQUIRED>
<!ELEMENT titleControls ANY>
<!ATTLIST titleControls id ID #REQUIRED>
<!ELEMENT articleControls ANY>
<!ATTLIST articleControls id ID #REQUIRED>
<!ELEMENT basicContentControls ANY>
<!ATTLIST basicContentControls id ID #REQUIRED>
<!ELEMENT blogPost ANY>
<!ATTLIST blogPost id ID #REQUIRED>
<!ELEMENT table ANY>
<!ATTLIST table id ID #REQUIRED>
<!ELEMENT pollTable ANY>
<!ATTLIST pollTable id ID #REQUIRED>
]>
<root id="-1">
  <home id="1063" key="36f3fbc0-6e57-420e-b795-7bec869d1b0b" parentID="-1" level="1" creatorID="1" sortOrder="0" createDate="2019-10-29T21:52:04" updateDate="2019-11-25T23:26:02" nodeName="Home" urlName="home" path="-1,1063" isDoc="" nodeType="1061" creatorName="Dave" writerName="Dave" writerID="1" template="1062" nodeTypeAlias="home" isPublished="true">
    <title><![CDATA[Home]]></title>
    <subTitle><![CDATA[<p><span><a data-udi="umb://document/36f3fbc06e57420eb7957bec869d1b0b" href="/{localLink:umb://document/36f3fbc06e57420eb7957bec869d1b0b}" title="Home">worksync</a> is a vb.net MVC development project by Dave Bryant</span></p>]]></subTitle>
    <blog id="1066" key="35925e38-a4fe-48e0-858a-eb762ae16461" parentID="1063" level="2" creatorID="1" sortOrder="0" createDate="2019-10-30T12:01:08" updateDate="2019-11-21T19:50:10" nodeName="Blog" urlName="blog" path="-1,1063,1066" isDoc="" nodeType="1065" creatorName="Dave" writerName="Dave" writerID="1" template="1064" nodeTypeAlias="blog" isPublished="true">
      <excludeFromTopNavigation>1</excludeFromTopNavigation>
    </blog>
    <content id="1076" key="eab3432c-a287-402b-b72c-e00c33044f63" parentID="1063" level="2" creatorID="1" sortOrder="3" createDate="2019-10-30T12:25:30" updateDate="2019-11-24T15:39:39" nodeName="About" urlName="about" path="-1,1063,1076" isDoc="" nodeType="1075" creatorName="Dave" writerName="Dave" writerID="1" template="1074" nodeTypeAlias="content" isPublished="true">
      <excludeFromTopNavigation>1</excludeFromTopNavigation>
      <title><![CDATA[About]]></title>
      <subTitle><![CDATA[<p>About</p>]]></subTitle>
      <contentGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Full Width",
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": []
            }
          ],
          "hasConfig": false,
          "id": "c22db51c-6fba-de2d-d4b7-e924d5441f10"
        }
      ]
    }
  ]
}]]></contentGrid>
    </content>
    <menuPage id="1085" key="aa6f0785-fd7e-4598-b0fb-3f1ed8b37330" parentID="1063" level="2" creatorID="1" sortOrder="6" createDate="2019-11-22T12:40:06" updateDate="2019-11-26T00:38:03" nodeName="Politics" urlName="politics" path="-1,1063,1085" isDoc="" nodeType="1091" creatorName="Dave" writerName="Dave" writerID="1" template="1232" nodeTypeAlias="menuPage" isPublished="true">
      <excludeFromTopNavigation>0</excludeFromTopNavigation>
      <title><![CDATA[Politics]]></title>
      <subTitle><![CDATA[<p><span>General resource for UK Politics and Campaigns</span></p>]]></subTitle>
      <blogPost id="1116" key="93055d3b-c74d-46ef-a37c-ab94f42d6e90" parentID="1085" level="3" creatorID="1" sortOrder="0" createDate="2019-11-23T18:26:13" updateDate="2019-12-02T22:22:01" nodeName="polls" urlName="polls" path="-1,1063,1085,1116" isDoc="" nodeType="1105" creatorName="Dave" writerName="Dave" writerID="1" template="1098" nodeTypeAlias="blogPost" isPublished="true">
        <title><![CDATA[Opinion Polls]]></title>
        <subTitle><![CDATA[<p>Table of Opinions Polls since the 2017 General Election</p>]]></subTitle>
        <articleDate>2019-11-01T00:00:00</articleDate>
        <articleImage><![CDATA[umb://media/fe85fb90c18d4cc7ad93c0534b32a716]]></articleImage>
        <contentGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Full Width",
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": []
            }
          ],
          "hasConfig": false,
          "id": "e27e041a-287f-7964-b732-e342397973c6"
        }
      ]
    }
  ]
}]]></contentGrid>
      </blogPost>
    </menuPage>
    <menuPage id="1086" key="33cb1da0-d92a-4aaa-8245-8ae79e1c5a0f" parentID="1063" level="2" creatorID="1" sortOrder="7" createDate="2019-11-22T12:40:25" updateDate="2019-12-24T11:44:49" nodeName="Computers" urlName="computers" path="-1,1063,1086" isDoc="" nodeType="1091" creatorName="Dave" writerName="Dave" writerID="1" template="1239" nodeTypeAlias="menuPage" isPublished="true">
      <excludeFromTopNavigation>0</excludeFromTopNavigation>
      <title><![CDATA[Computers]]></title>
      <subTitle><![CDATA[<p><span>General resource for latest PC and Server information</span></p>]]></subTitle>
      <blogPost id="1237" key="7cf78b69-5cff-49e6-8443-3093715e9821" parentID="1086" level="3" creatorID="1" sortOrder="0" createDate="2019-12-06T03:43:18" updateDate="2019-12-06T03:43:34" nodeName="CPU Statistics" urlName="cpu-statistics" path="-1,1063,1086,1237" isDoc="" nodeType="1105" creatorName="Dave" writerName="Dave" writerID="1" template="1098" nodeTypeAlias="blogPost" isPublished="true">
        <title><![CDATA[CPU Statistics]]></title>
        <subTitle><![CDATA[<p>CPU Statistics - List of processors with technical specs</p>]]></subTitle>
        <articleDate>2019-12-06T00:00:00</articleDate>
        <articleImage><![CDATA[umb://media/c05663ec766c47a18d1b6985f855f05c]]></articleImage>
        <contentGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Full Width",
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>CPU Statistics - List of processors with technical specs</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "d33132a5-78e8-8146-6338-8701879d55c3"
        }
      ]
    }
  ]
}]]></contentGrid>
      </blogPost>
    </menuPage>
    <menuPage id="1097" key="21255730-9cfb-4ec8-9a0c-23459a83122d" parentID="1063" level="2" creatorID="1" sortOrder="8" createDate="2019-11-22T19:48:11" updateDate="2019-11-26T00:26:26" nodeName="Photography" urlName="photography" path="-1,1063,1097" isDoc="" nodeType="1091" creatorName="Dave" writerName="Dave" writerID="1" template="1232" nodeTypeAlias="menuPage" isPublished="true">
      <excludeFromTopNavigation>0</excludeFromTopNavigation>
      <title><![CDATA[Photography]]></title>
      <subTitle><![CDATA[<p><span>Photos taken with my <a href="https://www.nikon.co.uk/en_GB/product/discontinued/digital-cameras/2015/d3100" title="Nikon DC3100 SLR">Nikon DC3100 SLR</a></span></p>]]></subTitle>
      <blogPost id="1107" key="64bcf35b-9f83-408d-92e3-1ecfe69831b0" parentID="1097" level="3" creatorID="1" sortOrder="0" createDate="2019-11-23T14:31:37" updateDate="2019-11-23T18:37:10" nodeName="0001Cardiff" urlName="0001cardiff" path="-1,1063,1097,1107" isDoc="" nodeType="1105" creatorName="Dave" writerName="Dave" writerID="1" template="1098" nodeTypeAlias="blogPost" isPublished="true">
        <title><![CDATA[Cardiff]]></title>
        <subTitle><![CDATA[<p>I took a train from Danescourt to Cardiff City Centre and then walked back through the Civic Centre and Llandaff Fields along the banks of the Taff River.</p>]]></subTitle>
        <articleDate>2012-08-25T00:00:00</articleDate>
        <articleImage><![CDATA[umb://media/c05663ec766c47a18d1b6985f855f05c]]></articleImage>
        <imageFolder><![CDATA[001Cardiff]]></imageFolder>
        <articleIntro><![CDATA[I took a train from Danescourt to Cardiff City Centre and then walked back through the Civic Centre and Llandaff Fields along the banks of the Taff River.]]></articleIntro>
        <contentGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Full Width",
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": []
            }
          ],
          "hasConfig": false,
          "id": "405de8ae-99fb-7cdd-1519-7f7d7ebb08c0"
        }
      ]
    }
  ]
}]]></contentGrid>
      </blogPost>
      <blogPost id="1109" key="0328bc84-3dae-4a5e-8416-44539409f8c9" parentID="1097" level="3" creatorID="1" sortOrder="1" createDate="2019-11-23T14:47:14" updateDate="2019-11-23T18:37:26" nodeName="0002Wharf" urlName="0002wharf" path="-1,1063,1097,1109" isDoc="" nodeType="1105" creatorName="Dave" writerName="Dave" writerID="1" template="1098" nodeTypeAlias="blogPost" isPublished="true">
        <title><![CDATA[The Wharf]]></title>
        <subTitle><![CDATA[<p><span>I walked through from Cardiff Queen Street Station to Cardiff Bay. Includes photos of the Wharf Pub since demolished.</span></p>]]></subTitle>
        <articleDate>2015-07-17T00:00:00</articleDate>
        <articleImage><![CDATA[umb://media/9563e857bc3544b797344a13d544b036]]></articleImage>
        <imageFolder><![CDATA[002Wharf]]></imageFolder>
        <articleIntro><![CDATA[I walked through from Cardiff Queen Street Station to Cardiff Bay. Includes photos of the Wharf Pub since demolished.]]></articleIntro>
        <contentGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Full Width",
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": []
            }
          ],
          "hasConfig": false,
          "id": "a8f9fb55-fe41-819e-2fa5-1319b6db8d2a"
        }
      ]
    }
  ]
}]]></contentGrid>
      </blogPost>
      <blogPost id="1112" key="ea10ab05-1a16-4366-aaa6-af3c4889f4b5" parentID="1097" level="3" creatorID="1" sortOrder="2" createDate="2019-11-23T15:47:18" updateDate="2019-11-23T18:37:43" nodeName="0003Krakow" urlName="0003krakow" path="-1,1063,1097,1112" isDoc="" nodeType="1105" creatorName="Dave" writerName="Dave" writerID="1" template="1098" nodeTypeAlias="blogPost" isPublished="true">
        <title><![CDATA[Krakow]]></title>
        <subTitle><![CDATA[<p><span>I stayed a week in a Krakow apartment within the old Ghetto.</span></p>]]></subTitle>
        <articleDate>2019-07-27T00:00:00</articleDate>
        <articleImage><![CDATA[umb://media/59a744759ec64cb6ba22dc093f69202c]]></articleImage>
        <imageFolder><![CDATA[003Krakow]]></imageFolder>
        <articleIntro><![CDATA[I stayed a week in a Krakow apartment within the old Ghetto.]]></articleIntro>
        <contentGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Full Width",
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": []
            }
          ],
          "hasConfig": false,
          "id": "0422f02e-33c9-6dfa-567f-e270756ac5cc"
        }
      ]
    }
  ]
}]]></contentGrid>
      </blogPost>
      <blogPost id="1114" key="2b664619-5662-428f-8eea-718ebe103217" parentID="1097" level="3" creatorID="1" sortOrder="3" createDate="2019-11-23T17:54:51" updateDate="2019-11-23T18:38:00" nodeName="0004Prague" urlName="0004prague" path="-1,1063,1097,1114" isDoc="" nodeType="1105" creatorName="Dave" writerName="Dave" writerID="1" template="1098" nodeTypeAlias="blogPost" isPublished="true">
        <title><![CDATA[Prague]]></title>
        <subTitle><![CDATA[<p><span>I stayed a week in a Prague Apartment in the Andel Prague 5 district.</span></p>]]></subTitle>
        <articleDate>2016-09-26T00:00:00</articleDate>
        <articleImage><![CDATA[umb://media/514bf454505e405090a5e153dc552ee6]]></articleImage>
        <imageFolder><![CDATA[004Prague]]></imageFolder>
        <articleIntro><![CDATA[I stayed a week in a Prague Apartment in the Andel Prague 5 district.]]></articleIntro>
        <contentGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Full Width",
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": []
            }
          ],
          "hasConfig": false,
          "id": "3693b0c8-1a0d-7794-29e3-ca223ba57816"
        }
      ]
    }
  ]
}]]></contentGrid>
      </blogPost>
    </menuPage>
    <menuPage id="1117" key="53fa0fa5-91b0-401c-a93a-cbe2ac610a22" parentID="1063" level="2" creatorID="1" sortOrder="9" createDate="2019-11-23T19:54:55" updateDate="2019-12-24T03:26:04" nodeName="Programming" urlName="programming" path="-1,1063,1117" isDoc="" nodeType="1091" creatorName="Dave" writerName="Dave" writerID="1" template="1239" nodeTypeAlias="menuPage" isPublished="true">
      <excludeFromTopNavigation>0</excludeFromTopNavigation>
      <title><![CDATA[Programming]]></title>
      <subTitle><![CDATA[<p><span>Code Snippets and Articles</span></p>]]></subTitle>
      <blogPost id="1235" key="6ad63ff3-ad7d-4bcc-af82-b38aad276bcf" parentID="1117" level="3" creatorID="1" sortOrder="2" createDate="2019-11-26T00:50:47" updateDate="2019-12-02T22:21:11" nodeName="VB Database Manipulation" urlName="vb-database-manipulation" path="-1,1063,1117,1235" isDoc="" nodeType="1105" creatorName="Dave" writerName="Dave" writerID="1" template="1098" nodeTypeAlias="blogPost" isPublished="true">
        <title><![CDATA[Database Connection]]></title>
        <subTitle><![CDATA[<p>Quick copy and paste code snippets</p>]]></subTitle>
        <articleDate>2019-11-26T00:00:00</articleDate>
        <articleImage><![CDATA[umb://media/574bb30cddc449f290f9329c4464170c]]></articleImage>
        <contentGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Full Width",
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p style=\"text-align: left;\">Generate a DataTable from a SQL Query</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "<pre>Public Shared Function GetPollingCompanies() As DataTable\n    Dim dt As New DataTable\n    Dim strSQL As String = \"Select ID, PollerName FROM dbo.Pollers\"\n        Using conn As New SqlConnection(My.Settings.CS)\n            Using dad As New SqlDataAdapter(strSQL, conn)\n                dad.Fill(dt)\n            End Using\n        End Using\n    Return dt\nEnd Function</pre>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "<p>Execute a SQL Command</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "<pre>Public Shared Sub DeleteMyTable()\n    Dim strSQl As String = \"DROP TABLE MyTable\"\n    Using Conn As New SqlConnection(My.Settings.CS)\n        Using cmd As New SqlCommand(strSQL, Conn)\n            cmd.ExecuteNonQuery()\n        End Using\n    End Using\nEnd Function</pre>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "<p>Utilise SQLReader</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "<pre>Public Shared Function GetProjects() As List(Of ProjectItems)\n    Dim output As New List(Of ProjectItems)\n    Dim strSQl As String = \"SELECT ID, ProjectName, ProjectDirectory FROM Projects WHERE deleted='N'\"\n    Using conn As New SqlConnection(My.Settings.CS)\n        Using cmd As New SqlCommand(strSQl, conn)\n            Using RDR = cmd.ExecuteReader()\n                If RDR.HasRows Then\n                Do While RDR.Read\n                    Dim pi As New ProjectItems(CType(RDR.Item(\"id\"), Integer), RDR.Item(\"ProjectName\"), RDR.Item(\"ProjectDirectory\"))\n                    output.Add(pi)\n                Loop\n                End If\n            End Using\n        End Using\n    End Using\n    Return output\nEnd Function</pre>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "1cee74db-da39-1dbd-ca6c-e3cec65cff23"
        }
      ]
    }
  ]
}]]></contentGrid>
      </blogPost>
    </menuPage>
    <table id="1213" key="5cc5e645-734a-4d54-a04d-354150eda8da" parentID="1063" level="2" creatorID="1" sortOrder="10" createDate="2019-11-24T15:17:23" updateDate="2019-11-24T15:31:57" nodeName="Opinion Polls" urlName="opinion-polls" path="-1,1063,1213" isDoc="" nodeType="1212" creatorName="Dave" writerName="Dave" writerID="1" template="1211" nodeTypeAlias="table" isPublished="true">
      <pageTitle><![CDATA[Opinion Polls]]></pageTitle>
      <intro><![CDATA[Tables of Opinions Polls since the 2017 General Election]]></intro>
      <excludeFromTopNavigation>1</excludeFromTopNavigation>
      <contentGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Full Width",
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": []
            }
          ],
          "hasConfig": false,
          "id": "70456d3f-109f-f8ef-17ff-2c203d0ed653"
        }
      ]
    }
  ]
}]]></contentGrid>
    </table>
    <pollTable id="1217" key="aa9db847-90a0-463b-b08c-8c8318233c54" parentID="1063" level="2" creatorID="1" sortOrder="11" createDate="2019-11-24T21:53:22" updateDate="2019-11-25T10:24:22" nodeName="PollTable" urlName="polltable" path="-1,1063,1217" isDoc="" nodeType="1215" creatorName="Dave" writerName="Dave" writerID="1" template="1221" nodeTypeAlias="pollTable" isPublished="true">
      <excludeFromTopNavigation>1</excludeFromTopNavigation>
    </pollTable>
  </home>
</root>